*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
app/src/main/res/raw/dependency_license.xml
/buildsystem/mapping*.txt
buildsystem/mapping-WeltN24-qaTesting-release.txt
/app/google-services.json
/repo
